<div class="container" >
    <div class="row mt-4">
        <div class="col d-flex justify-content-center mt-3 myrow1">
            <button class="btn btn-outline-success" data-toggle="modal" data-target="#addEmployeeModal">Add Employee</button>
        </div>
        <div class="col d-flex justify-content-center mt-3 myrow2">
            <form class="d-flex">
                <input class="form-control me-2" (ngModelChange)="searchEmployees(key.value)" #key="ngModel" ngModel name="key" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
    <div class="row row-cols-auto mt-3">
        <div class="col d-flex justify-content-center" *ngFor="let employee of employees">
            <app-card [emp]="employee"></app-card>
        </div>
    </div>
</div>
<app-add-employee-modal></app-add-employee-modal>
<app-edit-employee-modal></app-edit-employee-modal>
<app-delete-employee-modal></app-delete-employee-modal>