<nav class="navbar navbar-expand-md navbar-light sticky-top py-0 px-3">
  <div class="container-fluid">
    <div class="navbar-brand">
      <img class="shadow rounded" src="assets/myicon.ico" height="40px" />
      <a class="navbar-brand ms-3 me-0 shadow rounded px-3 pt-2" id="homebtn" routerLink="home" *ngIf="isLoggedIn">
        <h1>Employee Manager</h1>
      </a>
      <a class="navbar-brand ms-3 me-0 shadow rounded px-3 pt-2" id="homebtn" *ngIf="!isLoggedIn">
        <h1>Employee Manager</h1>
      </a>
    </div>
    <button class="navbar-toggler ms-0 my-1" type="button" data-toggle="collapse" data-target="#mynav" aria-controls="navbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mynav">
      <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
        <li class="nav-item">
          <a class="nav-link" routerLink="register">Sign Up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="login">Login</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
        <li class="nav-item">
          <a class="nav-link" routerLink="login">Signed In as {{ username }}</a>
        </li>
        <li class="nav-item" *ngIf="isAdmin">
          <a class="nav-link" routerLink="users">Admin Board</a>
        </li>
        <li class="nav-item">
          <a href class="nav-link" (click)="logout()">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>