.navbar{
    background-color: #a8e7ca;
}
#homebtn{
    background-color: #c4f8df;
}
#homebtn h1{
    font-size:medium;
    font-weight:bold;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}