<div class="spanner">
    <div class="loader"></div>
    <h6>The backend web service is spinnig up, please be patient. <i>This might take few minutes ( Average : 4 minutes )</i></h6>
    <h5>Want to know why ?</h5>
    <p>Web Services on the free instance type of Render are automatically spun down after 15 minutes of inactivity.
        When a new request for a free service comes in, Render spins it up again so it can process the request.
        This will cause a <i>delay in the response of the first request</i> after a period of inactivity while the instance spins up. 
        For more details about Render free instance types click <a href="https://render.com/docs/free">here</a>.</p>
</div>